.ikea-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  flex-wrap: wrap;
  // height: 500px;
  background-color: $bg-1;
  &:focus {
    outline: none;
  }
  &__inner {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
      width: 70%;
      justify-content: space-between;
      padding: 0;
    }
    &:focus {
      outline: none;
    }
    &_md {
      width: 100%;
      @include media-breakpoint-up(lg) {
        width: 55%;
      }
    }
    &_sm {
      width: 100%;
      @include media-breakpoint-up(lg) {
        width: 45%;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include media-breakpoint-up(lg) {
      align-items: flex-start;
      text-align: left;
    }
    &_margin {
      margin-bottom: 50px;
      @include media-breakpoint-up(lg) {
        margin-bottom: 0px;
      }
    }
  }
  &__title {
    color: $grey-8;
    margin-bottom: 5px;
  }
  &__subtitle {
    color: $grey-8;
    margin-bottom: 25px;
  }
  &__period {
    color: $grey-6;
    margin-bottom: 40px;
  }
  &__btn {
    padding: 0 25px;
    justify-content: space-between;
  }
}
