.ikea-exp-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // height: 725px;
  margin-top: 100px;
  margin-bottom: 50px;
  &__inner {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__picture {
    width: 340px;
    height: 340px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img {
    height: 100%;
    max-width: unset;
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    @include media-breakpoint-up(lg) {
      margin-top: 0px;
    }
  }
  &__sale {
    position: static;
    display: block;
    width: 45px;
    margin-bottom: 15px;
  }
  &__title {
    color: $grey-8;
    margin-bottom: 5px;
  }
  &__subtitle {
    color: #696e73;
    margin-bottom: 12px;
  }
  &__rating {
    display: flex;
    align-items: center;
  }

  &__stars {
    display: flex;
  }
  &__rate {
    color: $grey-7;
    margin: 0 16px;
  }
  &__vote {
    color: $grey-3;
  }
  &__color-editor {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  &__color-radio {
    display: none;
    & + .ikea-exp-card__color .ikea-icon {
      visibility: hidden;
    }
    &:checked + .ikea-exp-card__color .ikea-icon {
      visibility: visible;
    }
  }
  &__color {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    cursor: pointer;
    height: 24px;
    border: 1px solid $grey-1;
    border-radius: 50%;
    &:not(:last-child) {
      margin: 0px 10px 0 30px;
    }
  }
  &__size-editor {
    display: flex;
    align-items: center;
    margin: 30px 0;
  }
  &__size-radio {
    display: none;
    &:checked + .ikea-exp-card__size {
      border: 2px solid $yellow-3;
      z-index: 100;
    }
  }
  &__size {
    display: block;
    padding: 10px 15px;
    border: 1px solid #bfc1c3;
    cursor: pointer;
    user-select: none;
    &:not(:nth-child(2)) {
      position: relative;
      left: -1px;
    }
    &:nth-child(2) {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      position: relative;
      left: -2px;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  &__status {
    color: $success;
    margin-left: 8px;
    &_wrong {
      color: #f26d6d;
    }
  }
  &__price {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__full-price {
    color: $grey-8;
    margin-right: 15px;
    &_sale {
      color: $grey-3;
      text-decoration: line-through;
      font-weight: 500;
    }
  }
  &__sale-price {
    color: $grey-8;
  }
  &__btn {
    margin-right: 20px;
    &_disabled {
      background-color: #fff7cc;
      cursor: not-allowed;
      &:hover {
        transform: none;
      }
      &:active {
        background-color: #fff7cc;
      }
    }
  }
  &__basket {
    margin-right: 8px;
  }
  &__add {
    display: flex;
    align-items: center;
  }
  &__tab-bar {
    display: flex;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 90px;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    border-bottom: 1px solid $grey-1;
  }
  &__tab {
    padding-bottom: 20px;
  }
  &__tab-link {
    text-decoration: none;
    color: $grey-3;
    padding-bottom: 20px;
    position: relative;
    transition: all 0.15s linear;
    &:after {
      content: "";
      width: 100%;
      position: absolute;
      height: 3px;
      background-color: $yellow-3;
      bottom: -5px;
      left: 0;
      opacity: 0;
      transition: all 0.15s linear;
    }
    &:hover,
    &:focus {
      color: $grey-7;
      &:after {
        opacity: 1;
      }
    }
  }
  & .ikea-slider {
    background-color: $bg-2;
    display: flex;
    justify-content: center;
    padding: 0px 0 50px 0;
  }
  & .slick-slider,
  & .slick-slide {
    width: 85% !important;
  }
  & .slick-dots {
    display: none !important;
  }
  &__slider {
    width: 100%;
    background-color: $bg-2;
    padding-top: 50px;
    &_bg {
      background: #fff;
      & .ikea-slider {
        background-color: #fff;
      }
    }
    & .slick-prev svg,
    & .slick-next svg {
      fill: #000;
    }
  }
  &__slide {
    display: flex;
    justify-content: center;
    & .ikea-banner {
      background: none;
      padding: 40px 0;
    }
    & .ikea-card:not(:last-child) {
      margin-right: 20px;
    }
  }
}
