//Text font family

.ikea-main-text {
  font-family: "Helvetica Neue";
}
.ikea-medium-text {
  font-family: "Helvetica Neue Medium";
}
.ikea-bold-text {
  font-family: "Helvetica Neue Bold";
}
.ikea-title-text {
  font-family: "Montserrat";
}

//Main text size

.ikea-text-12 {
  font-size: 12px;
}
.ikea-text-14 {
  font-size: 14px;
}
.ikea-text-16 {
  font-size: 16px;
}

//Title text size

.ikea-title-18 {
  font-size: 18px;
}
.ikea-title-24 {
  font-size: 24px;
}
.ikea-title-30 {
  font-size: 30px;
}
