// @import "~bootstrap/scss/bootstrap-grid";
.ikea-user-tools {
  display: flex;
  align-items: center;
  position: relative;
  &__btn {
    background: none;
    outline: none;
    cursor: pointer;
    border: none;
    transition: all 0.15s linear;
    &-log {
      display: none;
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
    &:hover {
      color: #ffd600;
    }
  }
  &__btn:not(:last-child) {
    margin-right: 20px;
    @include media-breakpoint-up(lg) {
      margin-right: 32px;
    }
  }
  &__basket {
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    border-radius: 2px;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    background-color: $yellow-3;
    transition: all 0.15s linear;
    &_visible {
      display: flex;
    }
  }
  &__login {
    position: relative;
  }
  &__profile {
    position: absolute;
    width: 217px;
    // height: 198px;
    padding: 12px 25px;
    background-color: #fff;
    bottom: -240px;
    right: 95px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    visibility: hidden;
    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9px 10px 9px;
      border-color: transparent transparent #ffffff transparent;
      top: -10px;
      right: 28px;
    }
    &_visible {
      visibility: visible;
    }
  }
  &__about {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  &__picture {
    width: 50px;
    height: 50px;
    border: 2px solid $grey-1;
    border-radius: 5px;
    overflow: hidden;
    & img {
      height: 100%;
    }
  }
  &__profile-nav {
    border-top: 1px solid $grey-1;
    border-bottom: 1px solid $grey-1;
  }
  &__profile-title {
    color: $grey-8;
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 10px;
    list-style-type: none;
    &:hover svg {
      fill: $yellow-3;
      transition: all 0.15s linear;
    }
    &:hover .ikea-user-tools__link {
      color: $yellow-3;
      transition: all 0.15s linear;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $grey-1;
    }
  }
  &__link {
    text-decoration: none;
    color: $grey-6;
    margin-left: 10px;
  }
  &__out {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: $grey-4;
  }
}
.ikea-profile {
  display: flex;
  align-items: flex-start;
  margin: 20px 0px;
  flex-direction: column;
  padding-left: 20px;

  &__btn {
    display: flex;
    align-items: center;
    font-weight: bold;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    font-family: "Roboto" sans-serif;
    color: #282f36;
    transition: all 0.15s linear;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
    &:hover {
      color: #ffd600;
    }
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
