@import "~bootstrap/scss/bootstrap-grid";
.ikea-user-tools {
  display: flex;
  align-items: center;
  &__btn {
    background: none;
    position: relative;
    outline: none;
    cursor: pointer;
    border: none;
    transition: all 0.15s linear;
    &-log {
      display: none;
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
    &:hover {
      color: #ffd600;
    }
  }
  &__btn:not(:last-child) {
    margin-right: 20px;
    @include media-breakpoint-up(lg) {
      margin-right: 32px;
    }
  }
  &__basket {
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    border-radius: 2px;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    background-color: $yellow-3;
    transition: all 0.15s linear;
    &_visible {
      display: flex;
    }
  }
}
.ikea-profile {
  display: flex;
  align-items: flex-start;
  margin: 20px 0px;
  flex-direction: column;
  padding-left: 20px;

  &__btn {
    display: flex;
    align-items: center;
    font-weight: bold;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    font-family: "Roboto" sans-serif;
    color: #282f36;
    transition: all 0.15s linear;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
    &:hover {
      color: #ffd600;
    }
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
