//Colors

//Grey

$grey-1: #eaebeb;
$grey-2: #d4d5d7;
$grey-3: #bfc1c3;
$grey-4: #a9acaf;
$grey-5: #94979b;
$grey-6: #53595e;
$grey-7: #3e444b;
$grey-8: #282f36;

//Yellow

$yellow-1: #fff7cc;
$yellow-2: #ffe666;
$yellow-3: #ffd600;

//Blue

$blue-1: #99c5ff;
$blue-2: #338cff;
$blue-3: #0051ba;

//Green

$success: #01ba95;

//Red

$danger-1: #e74c4b;
$danger-2: #e11f1e;
$danger-3: #b61918;
$danger-4: #ff4f52;

//Background

$bg-1: #fdfbf7;
$bg-2: #fbfbfb;
