//Colors

//Grey

$grey-1: #eaebeb;
$grey-2: #d4d5d7;
$grey-3: #bfc1c3;
$grey-4: #a9acaf;
$grey-5: #94979b;
$grey-6: #53595e;
$grey-7: #3e444b;
$grey-8: #282f36;

//Yellow

$yellow-1: #fff7cc;
$yellow-2: #ffe666;
$yellow-3: #ffd600;

//Green

$green-1: #01ba95;

//Red

$red-1: #e74c4b;
$red-2: #e11f1e;
$red-3: #b61918;
