//Bootstrap

@import "~bootstrap/scss/bootstrap-grid";

//Font style and size

@import "fonts";
@import "text";
@import "variables";
@import "main-classes";

//Components

@import "header";
@import "navigation";
@import "menu";
@import "logo";
@import "user-tools";
@import "banner";
@import "new-products";
@import "slider";
@import "footer";

//Slider

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  @include media-breakpoint-up(lg) {
    width: auto;
  }
}
body {
  font-size: 16px;
}
.ikea-line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #eaebeb;
  margin-bottom: 20px;
}
